body{
    background-image: url(https://i.pinimg.com/564x/7d/1c/54/7d1c547e966595ed9e98f4b6d55b61f8.jpg);
}

#square {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mesa1{
    display: block;
    background-color: red;
    width: 70px;
    height: 70px;
    margin-left: 407px;
    margin-top: 180px;
}

.mesa2{
    display: block;
    background-color: red;
    width: 70px;
    height: 70px;
    margin-left: 407px;
    margin-top: 180px;
}

.mesa3{
    display: block;
    background-color: red;
    width: 70px;
    height: 70px;
    margin-left: 407px;
    margin-top: 180px;
}

.mesa4{
    display: block;
    background-color: red;
    width: 70px;
    height: 70px;
    margin-left: 407px;
    margin-top: 180px;
}

.mesa5{
    display: block;
    background-color: red;
    width: 70px;
    height: 70px;
    margin-left: 407px;
    margin-top: 180px;
}

.mesa6{
    display: block;
    background-color: red;
    width: 70px;
    height: 70px;
    margin-left: 407px;
    margin-top: 180px;
}







