body{
    background-image: url(https://i.pinimg.com/564x/7d/1c/54/7d1c547e966595ed9e98f4b6d55b61f8.jpg);
}

#square {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mesa1{
    display: block;
    width: 110px;
    height: 70px;
    margin-left: 407px;
    margin-top: 180px;
}

.mesa2{
    display: block;
    width: 110px;
    height: 70px;
    margin-left: 800px;
    margin-top: -70px;
}

.mesa3{
    display: block;
    width: 110px;
    height: 70px;
    margin-left: 407px;
    margin-top: 80px;
    
}

.mesa4{
    display: block;
    width: 110px;
    height: 70px;
    margin-left: 800px;
    margin-top: -70px;
}

.mesa5{
    display: block;
    width: 110px;
    height: 70px;
    margin-left: 407px;
    margin-top: 80px;
}

.mesa6{
    display: block;
    width: 110px;
    height: 70px;
    margin-left: 800px;
    margin-top: -70px;
}

.mesa7{
    display: block;
    width: 110px;
    height: 70px;
    margin-left: 55px;
    margin-top: -370px;
    background-color: red;
}

.mesa8{
    display: block;
    width: 110px;
    height: 70px;
    margin-left: 55px;
    margin-top: 80px;
    background-color: red;
}

.mesa9{
    display: block;
    width: 110px;
    height: 70px;
    margin-left: 55px;
    margin-top: 80px;
    background-color: red;
}

.mesa10{
    display: block;
    width: 110px;
    height: 70px;
    margin-top: -370px;
    margin-left: 1000px;
    background-color: red;
}

.mesa11{
    display: block;
    width: 110px;
    height: 70px;
    margin-top: 200px;
    margin-left: 1000px;
}

.mesaProf{
    display: block;
    width: 205px;
    height: 85px;
    margin-left: 1131px;
    margin-top: -390px;
}
