body{
    background-image: url(https://i.pinimg.com/564x/7d/1c/54/7d1c547e966595ed9e98f4b6d55b61f8.jpg);
}

#square {
    position: absolute;
    width: 70px; /* largura do quadrado */
    height: 70px; /* altura do quadrado */
    /* cor do quadrado */
    top: 50%; /* posição inicial */
    left: 50%; /* posição inicial */
    transform: translate(-50%, -50%); /* centraliza o quadrado */
}

#message {
    position: absolute;
    justify-content: center;
    display: none;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

#textbox {
display: block;
padding: 70px;
background-color: #333;
color: #fff;
border-radius: 5px;
font-size: 18px;
text-align: center;
margin-top: 480px;
}

.hidden {
display: none;
}


/*------------------------------------------------------------------------------------------------------*/

.mesa1{
    display: block;
    width: 110px;
    height: 70px;
    margin-left: 542px;
    margin-top: 180px;
}

.mesa2{
    display: block;
    width: 110px;
    height: 70px;
    margin-left: 800px;
    margin-top: -70px;
}

.mesa3{
    display: block;
    width: 110px;
    height: 70px;
    margin-left: 542px;
    margin-top: 80px;
    
}

.mesa4{
    display: block;
    width: 110px;
    height: 70px;
    margin-left: 800px;
    margin-top: -70px;
}

.mesa5{
    display: block;
    width: 110px;
    height: 70px;
    margin-left: 542px;
    margin-top: 80px;
}

.mesa6{
    display: block;
    width: 110px;
    height: 70px;
    margin-left: 800px;
    margin-top: -70px;
}

.mesa7{
    display: block;
    width: 110px;
    height: 70px;
    margin-left: 285px;
    margin-top: -370px;
}

.mesa8{
    display: block;
    width: 110px;
    height: 70px;
    margin-left: 285px;
    margin-top: 80px;
}

.mesa9{
    display: block;
    width: 110px;
    height: 70px;
    margin-left: 285px;
    margin-top: 80px;
}

.mesa10{
    display: block;
    width: 110px;
    height: 70px;
    margin-top: -370px;
    margin-left: 1047px;
}

.mesa11{
    display: block;
    width: 110px;
    height: 70px;
    margin-top: 80px;
    margin-left: 1047px;
}

.mesa12{
    display: block;
    width: 110px;
    height: 70px;
    margin-top: 80px;
    margin-left: 1047px;
}

.mesaProf{
    display: block;
    width: 205px;
    height: 85px;
    margin-left: 1131px;
    margin-top: -526px;
}
